.venv
__pycache__
**/__pycache__
*.pyc
.pytest_cache
.mypy_cache
.ruff_cache
htmlcov
.coverage

.env
.env.local

storage/uploads/*
storage/repos/*
!storage/uploads/.gitkeep
!storage/repos/.gitkeep

tests
.git
.gitignore
*.md
